body {
  background-color: rgb(13,13,13);
  font-family: 'Poiret One', cursive;
}

h1 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  padding: 5px 0px;
  font-size: 80px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-style: double;
  line-height: 1.5;
  color: #e6e6e6;
}

h1 a {
  color: #e6e6e6;
}

h1 a:hover{
  color: #e6e6e6;
}

h2 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  color: #e6e6e6;
  font-weight: bold;
  text-shadow: 3px 2px black;
}

h3 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  color: #e6e6e6;
  text-decoration: overline;
  text-decoration-style: dotted;
  text-shadow: 3px 2px black;
}

#header {
  margin-left: 0;
  padding: 2%;
  height: 300px;
  width: 100%;
  background-image: url(../images/02.jpg);
  background-size: cover;
}

#menu {
  height: 350px;
  width: 100%;
  background-size: cover;
  position: relative;
  margin: 2px 0 0 0;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#menu:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.about {
  background-image: url(../images/rehearsal.jpg);
}

.shows {
  background-image: url(../images/ladyB2.jpg);
}

.brands {
  background-image: url(../images/swimwear.jpg);
}

.performances {
  background-image: url(../images/acs.jpg);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: #e6e6e6;
  text-shadow: 3px 2px black;
}

.center a { text-decoration: none;}

.center a:hover {color: #e6e6e6;}

.col-md-6 {
  padding: 0;
  margin: 0;
}

.footer {
  height: 500px;
  width: 100%;
  padding: 5px;
  background-size: cover;
}

section {
  width: 100%;
/* margin: 0;
  max-width: none; */
  height: 100vh;
  background-image: url(../images/spot1.jpg);
  background-size: cover;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

section:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.contact {
  position: relative
  bottom: 5%;
  width: 50%;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  font-weight: bolder;
  color: #e6e6e6;
  margin-bottom: 10px;
  padding-top: 5px;
  width: 50%;
  margin: 0 auto;
}

input {
  box-sizing: border-box;
  padding: 10px 20px;
  opacity: 0.5;
}

input[type="text"] {
  color: black;
  font-weight: bold;
}

@media (max-width: 600px){
  h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
    padding: 0;
  }
}
